/* main color: #1b75de */
/* sub color:  #097bdc66*/

.ps-submenu-root .ps-submenu-content {
    background-color: #069bab !important;
}

.ps-menuitem-root > .ps-menu-button:hover {
    background-color: #236d8c !important;
}

.ps-submenu-root::-webkit-scrollbar {
    display: none !important;
}

.ps-sidebar-container::-webkit-scrollbar {
    display: none !important;
}
